body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    width: 100vw;
    height: 100vh;
}

main {
    padding: 2em;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

h2 {
    color: #fff;
    font-size: 1.8em;  /* Reduced size */
    margin-bottom: 0.5em;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.3em;
}

h3 {
    color: #ddd;
    font-size: 1.2em;  /* Reduced size */
    margin-bottom: 0.5em;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.3em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s;
}

footer:hover {
    background-color: #333;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
    transition: color 0.3s;
}

footer a:hover {
    color: #bbb;
}
